In [149]:
!pip install pymysql

Requirement already satisfied: pymysql in /Users/ekta/opt/anaconda3/lib/python3.9/site-packages (1.0.2)

In [150]:
import pymysql as sql

In [151]:
con=sql.connect(host="localhost",
                port = 3306,
                user="weather",
                   password="redhat",
                   database="weather_app"
               )

In [152]:
cursor= con.cursor()

In [153]:
def run_command(cmd):
    cursor.execute(cmd)

    data= cursor.fetchall()
    for record in data:
        print(*record,sep="|\t|")

In [154]:
run_command("SELECT * FROM weather_app.user")

1|	|EKTA BATHLA|	|redhat|	|ektabathla97@gmail.com
2|	|rajat|	|rajat|	|rajat@grass.com
3|	|rajat|	|rajat|	|rajat@grass.com
4|	|nidhi|	|nidhi|	|nidhi@gmail.com
5|	|rajat|	|rajat|	|rajat@gmail.com
6|	|nidhi|	|nidhi|	|nidhi@gmail.com
7|	|rajat|	|rajat|	|rajat@gmail.com
8|	|nidhi|	|nidhi|	|nidhi@gmail.com
9|	|rajat|	|rajat|	|rajat@gmail.com
11|	|rajat|	|rajat|	|rajat@gmail.com

In [156]:
run_command("SELECT * FROM weather_app.city")

1|	|jaipur
1|	|delhi
1|	|tonk
1|	|jaipur
1|	|delhi
1|	|tonk

In [157]:
run_command("INSERT INTO user (name,password,email)\
VALUES ('rajat','rajat','rajat@gmail.com')")

In [158]:
run_command("SELECT * FROM weather_app.user")

1|	|EKTA BATHLA|	|redhat|	|ektabathla97@gmail.com
2|	|rajat|	|rajat|	|rajat@grass.com
3|	|rajat|	|rajat|	|rajat@grass.com
4|	|nidhi|	|nidhi|	|nidhi@gmail.com
5|	|rajat|	|rajat|	|rajat@gmail.com
6|	|nidhi|	|nidhi|	|nidhi@gmail.com
7|	|rajat|	|rajat|	|rajat@gmail.com
8|	|nidhi|	|nidhi|	|nidhi@gmail.com
9|	|rajat|	|rajat|	|rajat@gmail.com
11|	|rajat|	|rajat|	|rajat@gmail.com
13|	|rajat|	|rajat|	|rajat@gmail.com

In [105]:
con.commit()

In [106]:
cursor.execute("INSERT INTO user (name,password,email)\
VALUES (%s,%s,%s)",("nidhi","nidhi","nidhi@gmail.com"))

1

In [107]:
run_command("SELECT * FROM weather_app.user")

1|	|EKTA BATHLA|	|redhat|	|ektabathla97@gmail.com
2|	|rajat|	|rajat|	|rajat@grass.com
3|	|rajat|	|rajat|	|rajat@grass.com
4|	|nidhi|	|nidhi|	|nidhi@gmail.com
5|	|rajat|	|rajat|	|rajat@gmail.com
6|	|nidhi|	|nidhi|	|nidhi@gmail.com
7|	|rajat|	|rajat|	|rajat@gmail.com
8|	|nidhi|	|nidhi|	|nidhi@gmail.com
9|	|rajat|	|rajat|	|rajat@gmail.com
11|	|rajat|	|rajat|	|rajat@gmail.com
12|	|nidhi|	|nidhi|	|nidhi@gmail.com

In [159]:
cursor.close()

In [160]:
con.close()

In [161]:
import sqlite3 as sql

In [168]:
con = sql.connect("weather.db")

In [163]:
cursor = con.cursor()

In [170]:
cursor.execute("select * from user")

OperationalError: no such table: user

In [166]:
cursor.fetchall()

[]